package layout

templ BlankLayout(title string) {
	<!DOCTYPE html>
	<html lang="ru">
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link rel="stylesheet" href="/static/css/tailwindcss.css">

		<script src="/static/js/alpine.min.js" defer></script>
		<script src="/static/js/htmx.min.js"></script>

		<title>{ title }</title>
	</head>
	<body class="bg-white text-gray-900">
		{ children... }
	</body>
	</html>
}