@font-face {
    font-family: "Geist";
    src: url("/static/fonts/GeistVariable.woff2") format("woff2");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
    html {
        font-family: "Geist", ui-sans-serif, system-ui, sans-serif;
    }

    body {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}